@model IEnumerable<ArtistQuery>

@{
	ViewBag.ActivePage = PageNameConstants.ArtistIndex;
	ViewData["Title"] = "Artist Listeleme Sayfası";
}

<div class="row my-2">
	<div class="col">
		<a asp-action="Create" class="btn btn-primary btn-sm">
			<i data-feather='plus-circle'></i> Yeni
		</a>
	</div>
</div>

<section id="responsive-datatable">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header border-bottom">
					<h4 class="card-title">Responsive Datatable</h4>
				</div>
				<div class="card-datatable">
					<table class="dt-responsive table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Surname</th>
								<th>Is Alive</th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Surname</th>
								<th>Is Alive</th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

@section Styles{
	<link rel="stylesheet" type="text/css" href="../assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
}

@section Scripts{
	<script src="../assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
	<script src="../assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
	<script src="../assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
	<script src="../assets/vendors/js/tables/datatable/responsive.bootstrap5.js"></script>
	<script src="../assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>

	<script>
		$(document).ready(function () {
			$('.table').DataTable({
				data: @Html.Raw(JsonConvert.SerializeObject(Model)),
				columns: [
					{ data: "id" },
					{ data: "name" },
					{ data: "surname" },
					{
						data: "isAlive",
						render: function (data) {
							if (data)
								return '<span class="alert alert-success">' + data + '</span>';
							else
								return '<span class="alert alert-danger">' + data + '</span>';
						}
					},
					{
						data: "id",
						render: function (data) {
							return '<a asp-action="Edit" asp-route-id="' + data + '" class="btn btn-info text-white btn-sm">Güncelle</a>' +
								'<a asp-action="Delete" asp-route-id="' + data + '" class="btn btn-danger btn-sm">Sil</a>';
						}
					}
				]
			});
		});
	</script>
}